!Указание версии FRR
frr version 8.1
frr defaults traditional
!Указываем имя машины
hostname {{ ansible_hostname }}
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config
!
!Добавляем информацию об интерфейсе enp0s8
interface enp0s8
  !Указываем имя интерфейса
  {% if ansible_hostname == 'router1' %}description r1-r2{% elif ansible_hostname == 'router2' %}description r1-r2{% else %}description r2-r3{% endif %} 
  !Указываем ip-aдрес и маску (эту информацию мы получили в прошлом шаге)
  {% if ansible_hostname == 'router1' %}ip address 10.0.10.1/30{% elif ansible_hostname == 'router2' %}ip address 10.0.10.2/30{% else %}ip address 10.0.11.1/30{% endif %} 
  !Указываем параметр игнорирования MTU
  ip ospf mtu-ignore
  !Если потребуется, можно указать «стоимость» интерфейса
  {% if ansible_hostname == 'router1' and symmetric_routing == false %}ip ospf cost 1000{% elif ansible_hostname == 'router1' and symmetric_routing == true %}ip ospf cost 1000{% elif ansible_hostname == 'router2' and symmetric_routing == true %}ip ospf cost 1000{% else %}!ip ospf cost 45{% endif %} 
  !Указываем параметры hello-интервала для OSPF пакетов
  ip ospf hello-interval 10
  !Указываем параметры dead-интервала для OSPF пакетов
  !Должно быть кратно предыдущему значению
  ip ospf dead-interval 30
!
interface enp0s9
  {% if ansible_hostname == 'router1' %}description r1-r3{% elif ansible_hostname == 'router2' %}description r2-r3{% else %}description r1-r3{% endif %} 
  {% if ansible_hostname == 'router1' %}ip address 10.0.12.1/30{% elif ansible_hostname == 'router2' %}ip address 10.0.11.2/30{% else %}ip address 10.0.12.2/30{% endif %} 
  ip ospf mtu-ignore
  !ip ospf cost 45
  ip ospf hello-interval 10
  ip ospf dead-interval 30
!
interface enp0s10
  description net_{{ ansible_hostname }} 
  {% if ansible_hostname == 'router1' %}ip address 192.168.10.1/24{% elif ansible_hostname == 'router2' %}ip address 192.168.20.1/24{% else %}ip address 192.168.30.1/24{% endif %} 
  ip ospf mtu-ignore
  !ip ospf cost 45
  ip ospf hello-interval 10
  ip ospf dead-interval 30
!
!Начало настройки OSPF
router ospf
  !Указываем router-id
  router-id {{ router_id }} 
  !Указываем сети, которые хотим анонсировать соседним роутерам
  {% if ansible_hostname == 'router1' %}network 10.0.10.0/30 area 0{% elif ansible_hostname == 'router2' %}network 10.0.10.0/30 area 0{% else %}network 10.0.11.0/30 area 0{% endif %} 
  {% if ansible_hostname == 'router1' %}network 10.0.12.0/30 area 0{% elif ansible_hostname == 'router2' %}network 10.0.11.0/30 area 0{% else %}network 10.0.12.0/30 area 0{% endif %} 
  {% if ansible_hostname == 'router1' %}network 192.168.10.1/24 area 0{% elif ansible_hostname == 'router2' %}network 192.168.20.1/24 area 0{% else %}network 192.168.30.1/24 area 0{% endif %} 
  !Указываем адреса соседних роутеров
  {% if ansible_hostname == 'router1' %}neighbor 10.0.10.2{% elif ansible_hostname == 'router2' %}neighbor 10.0.10.1{% else %}neighbor 10.0.11.2{% endif %} 
  {% if ansible_hostname == 'router1' %}neighbor 10.0.12.2{% elif ansible_hostname == 'router2' %}neighbor 10.0.11.1{% else %}neighbor 10.0.12.1{% endif %} 
!
!Указываем адрес log-файла
log file /var/log/frr/frr.log
default-information originate always